<div class="col-xs-12">
    <div class="jumbotron class-center">
        <h1>Add New Track</h1>
    </div>
    <form name="Musicrecords-Form">
        <label>
                               Name Of Track<span class="req">*</span>
                            </label>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Track name">
        </div>
        <label>
                               Select Genre<span class="req">*</span>
                            </label>
        <div class="field-wrap">
                            <select class="form-control" name="Genre" data-width="auto"> 
                                    <option aria-selected="Select a Genre"> Select a Genre</option>
                                    <option class="bold">Bollywood</option>
                                    <option class="bold">Rap</option>
                                    <option class="bold">Dubstep</option>
                                    <option class="bold">Deep House</option>
                                    <option class="bold">Trance</option>
                                    <option class="bold">EDM</option>
                                    <option class="bold">Chillstep</option>
                                    <option class="bold">pop</option>
                                <option class="bold">Jazz</option>
                            </select>
                      </div>
                            <label>
                               Artist Name<span class="req">*</span>
                            </label>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Artist Name">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success btn-lg btn-block">
                <span class="glyphicon glyphicon-pushpin"></span>
                Save
            </button>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-default btn-lg btn-block">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </button>
        </div>